.sectionContainer {
    height: 420px;
    background-color: #45C907; /* Cor de fundo verde */
    background-image: url('/image/editlawblur.svg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.textContainer {
    text-align: center;
    padding: 0px; /* Remover o padding grande que desloca o conteúdo */
}

.uniqueDocuments {
    font-size: 14px;
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 50px;
    display: inline-block;
    margin-bottom: 20px;
    border: #F5F5F5 solid 1px;
}

.title {
    font-size: 74px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    max-width: 800px;
}

.doc {
    color: rgb(255, 255, 255);
}

.edit {
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.subtext {
    font-size: 20px;
    color: rgb(0, 0, 0);
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.4;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .sectionContainer {
        margin-top: 60px;
    }
    
}

@media (max-width: 768px) {

    .sectionContainer {
        margin-top: 60px;
        background-image: url('/image/editlawblurMobile.svg');  
        background-size: contain; 
        background-position: center center; 
        background-repeat: no-repeat;
    }

    .textContainer {
        text-align: center;
        padding: 15px;
    }

    .title {
        font-size: 50px;
    }

    .subtext {
        font-size: 16px;
        padding: 0 20px 0 20px;
    }
}
