.container {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  width: auto;
}

.leftSection {
  min-width: 40%;
  max-width: 40%;
  width: auto;
  background-color: #dfdfdf;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.rightSection {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
  overflow: hidden;
}

.previewHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}

.scaleLabel {
  font-size: 16px;
  color: #333;
}

.documentPreviewContainer {
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 20px;
  position: relative;
}

.documentPreview {
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: auto;
}

.zoomControls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.zoomButton {
  padding: 5px 10px;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #45c907;
  color: white;
  border: none;
  border-radius: 4px;
}

.zoomButton:hover {
  background-color: #3ca206;
}

.docTitle {
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
}

.docParagraph {
  font-size: 16px;
  text-align: left;
  padding: 10px;
}

.buttonContainer {
  display: flex;
  width: 100%;
}

.switchButton {
  padding: 10px 20px;
  flex: 1;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.switchButton:hover {
  background-color: #e0e0e0;
}

.switchButton.active {
  background-color: #45c907;
  color: white;
}

.content {
  flex: 1;
  width: 100%;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
}

.content .text {
  font-size: 16px;
  color: #333;
}

@media (min-width: 1200px) and (max-width: 1552px) {
  .leftSection {
    min-width: 50%;
    max-width: 50%;
  }
  
  .rightSection {
    width: 50%;
  }
}


/* Responsividade */
@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .leftSection {
    max-width: none;
  }

  .leftSection,
  .rightSection {
    width: 100%;
  }

  .content {
    padding: 10px;
  }
}
