/* src/app/packages/packageList.module.css */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px;
    padding: 70px;
    box-sizing: border-box; /* Garante que o padding seja incluído nas dimensões */
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.categoryName {
    font-size: 28px;
    margin: 0;
}

.checkIcon {
    width: 82px;
    height: 62.68px;
    margin-top: -40px;
}

.packageCard {
    background-color: #d9d9d9;
    padding: 15px;
    border-radius: 20px;
    max-width: 507px;
    min-width: 307px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box; /* Inclui padding no tamanho total */
}

.packageInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.packageHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 90px;
}

.packageDocInfo {
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.docIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.documentCount {
    font-size: 14px;
    color: #000;
    margin-right: 15px;
}

.packageTitle {
    font-size: 22px;
    justify-content: center;
    align-content: center;
}

.packagePrice {
    font-size: 22px;
    margin-bottom: 15px;
}

.precoDesconto {
    color: #000;
    font-weight: bold;
}

.precoOriginal {
    text-decoration: line-through;
    color: #989898;
    margin-left: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: auto;
    width: 100%; /* O contêiner dos botões ocupa 100% da largura */
    flex-wrap: nowrap;
}

.cartButton, .buyButton {
    border: none;
    padding: 10px;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    width: 50%; /* Cada botão ocupa 50% do espaço */
    box-sizing: border-box; /* Inclui padding na largura total */
}

.cartButton {
    background-color: #000;
    color: #fff;
}

.buyButton {
    background-color: #45c907;
    color: #fff;
}

.packageDescricao {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 100;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Prefixo para compatibilidade com navegadores baseados no WebKit */
    line-clamp: 2; /* Versão padrão para outros navegadores */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    position: relative;
}

.packageContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Alinha os pacotes no início */
    gap: 20px; /* Espaço entre o card e a descrição */
    box-sizing: border-box; /* Inclui padding no tamanho total */
}

.expandedDescription {
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    color: #333;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinhamento superior */
    align-items: center;
    flex: 1;
    max-height: 500px; /* Definindo um tamanho máximo para evitar encolhimento */
    overflow: hidden; /* Esconder o conteúdo que excede o contêiner */
    position: relative;
    box-sizing: border-box; /* Inclui padding no tamanho total */
    width: 100%; /* Garante que ocupe a largura disponível */
}

.carousel {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%; /* Garante que o carrossel ocupe toda a largura */
    overflow-x: auto; /* Permite rolagem horizontal suave */
    scroll-snap-type: x mandatory;
    box-sizing: border-box; /* Inclui padding no tamanho total */
}

.arrow {
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
}

.carouselContent {
    display: flex;
    gap: 15px;
    overflow-x: auto; /* Habilita a rolagem horizontal */
    scroll-snap-type: x mandatory; /* Alinha suavemente os elementos ao rolar */
    padding-bottom: 10px; /* Adiciona um pequeno padding para espaçamento */
    box-sizing: border-box; /* Inclui padding no tamanho total */
    width: 100%; /* Garante que não ultrapasse o contêiner */
    flex-wrap: nowrap; /* Evita que os itens quebrem para a próxima linha */
    -ms-overflow-style: none; /* IE e Edge */
    scrollbar-width: none; /* Firefox */
}

.documentCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    max-width: 250px; /* Reduzido de 250px para 200px */
    scroll-snap-align: start;
    padding: 10px;
    border-radius: 10px;
    background-color: white; /* Adicionado para melhor visualização */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Adicionado para destaque */
    box-sizing: border-box; /* Inclui padding no tamanho total */
    flex-shrink: 0; /* Impede que os cards encolham */
}

.documentImage {
    width: 105px;
    height: 150.54px;
    object-fit: cover;
    border-radius: 9px;
}

.documentInfo {
    text-align: left;
    flex: 1;
}

.documentSpace {
    margin-bottom: 10px;
}




.imagesOverlay {
    position: absolute;
    top: -50px; /* Ajuste conforme necessário para posicionar corretamente */
    align-items: center;
    display: flex;
    gap: 10px;
    z-index: 2; /* Garantir que fiquem acima do conteúdo principal */
}

.overlayImage {
    width: 94px; /* Ajuste o tamanho conforme desejado */
    height: 134.77px; /* Ajuste o tamanho conforme desejado */
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s;
}

.overlayImage:hover {
    transform: scale(1.05);
}

@media (max-width: 1024px) {
    .container {
        padding: 20px;
        gap: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box; /* Garante que o padding seja incluído nas dimensões */
    }

    .header {
        margin-bottom: 70px;
    }

    .packageCard {
        max-width: none;
        min-width: 0;
    }

    .expandedDescription {
        width: 100%;
        box-sizing: border-box; /* Inclui padding no tamanho total */
    }

    .packageContainer {
        flex-direction: column;
    }

    .arrow {
        display: none;
    }

    .documentCard {
        width: 100%;
    }

    .carousel {
        display: block;
        max-width: 350px;
        box-sizing: border-box; /* Inclui padding no tamanho total */
    }

    .carouselContent {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        box-sizing: border-box; /* Inclui padding no tamanho total */
    }

    .documentCard {
        scroll-snap-align: start;
    }

    .documentSpace {
        margin-bottom: 0;
        margin-top: 10px;
    }
}
