.container {
    padding: 70px;
    margin-top: 80px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .title {
    font-size: 22px;
  }
  
  .createButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .categoryList {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 9px;
    overflow: hidden;
  }
  
  .categoryHeader, .categoryItem {
    display: flex;
    padding: 15px;
    font-weight: bold;
  }
  
  .categoryHeader {
    background-color: #c0c0c0;
  }
  
  .categoryItem {
    font-weight: normal;
  }
  
  .categoryHeader span, .categoryItem span {
    flex: 1;
    text-align: center;
  }
  
  .categoryItem:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }
  
  .oddRow {
    background-color: #f9f9f9;
  }
  
  .evenRow {
    background-color: transparent;
  }
  