/* src/components/page/Toolbox.css */

.toolbox-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  z-index: 1;
}

.toolbox-item {
  cursor: grab;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  user-select: none;
  background-color: #fff;
  font-size: 14px;
}

.toolbox-item-circle {
  border-radius: 50%;
}

.toolbox-item-triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.toolbox-icons {
  display: flex;
  gap: 10px;
}

.toolbox-icon {
  width: 40px;
  height: 40px;
  cursor: grab;
}

.color-input {
  cursor: pointer;
  padding: 5px;
  border: none;
}

.upload-image-button {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
}

.generate-pdf-button {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #28a745;
  border-radius: 4px;
  background-color: #28a745;
  color: #fff;
  font-size: 14px;
}

.generate-pdf-button:hover {
  background-color: #1e7e34;
}
