.toolboxContainer {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.toolboxItem {
  cursor: grab;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  user-select: none;
  background-color: #fff;
  font-size: 14px;
  align-items: center;
}

.toolboxItemCircle {
  border-radius: 50%;
}

.toolboxItemTriangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.toolboxIcons {
  display: flex;
  gap: 10px;
}

.toolboxIcon {
  width: 40px;
  height: 40px;
  cursor: grab;
}

.colorInput {
  cursor: pointer;
  padding: 5px;
  border: none;
}

.uploadImageButton {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
}

.generatePdfButton {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #28a745;
  border-radius: 4px;
  background-color: #28a745;
  color: #fff;
  font-size: 14px;
}

.generatePdfButton:hover {
  background-color: #1e7e34;
}

.textListItem {
  position: relative;
  margin-bottom: 20px;
}
