/* DocumentEditor.module.css */

.documentEditorContainer {
  width: 100%;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #f0f2f5;
}

.mainContent {
  flex: 1;
  display: flex;
  gap: 20px; /* Espaçamento entre os painéis esquerdo e direito */
  overflow: hidden; /* Previne que o conteúdo ultrapasse os limites */
}

.leftPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.pagesContainer {
  flex: 1;
  overflow-y: auto; /* Adiciona rolagem vertical quando necessário */
  padding: 20px;
  margin-top: 60px;
  gap: 10px;
}


.pageWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.pageButtons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.addPageButton {
  margin: 10px 0;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #45C907;
  border-radius: 4px;
  background-color: #45C907;
  color: #fff;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 16px;
}

.addPageButton:hover {
  background-color: #45C907;
}

.addPageButton:active {
  transform: scale(0.95);
}

.duplicatePageButton {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #28a745;
  border-radius: 4px;
  background-color: #28a745;
  color: #fff;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 14px;
}

.duplicatePageButton:hover {
  background-color: #1e7e34;
}

.duplicatePageButton:active {
  transform: scale(0.95);
}

.deletePageButton {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #45C907;
  border-radius: 4px;
  background-color: #45C907;
  color: #fff;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 14px;
}

.deletePageButton:hover {
  background-color: #45C907;
}

.deletePageButton:active {
  transform: scale(0.95);
}

.pageWrapper:hover {
  border-color: #45C907;
}

.rightPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: 40px;
  background-color: #ffffff;
}

.tabButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 130px;
}

.tabButton {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #45C907;
  border-radius: 4px;
  background-color: #ffffff;
  color: #007bff;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  font-size: 16px;
}

.tabButton:hover {
  background-color: #45C907;
  color: #ffffff;
}

.tabButton:active {
  transform: scale(0.95);
}

.activeTab {
  background-color: #45C907;
  color: #ffffff;
}

/* Estilos para o conteúdo das abas */
.tabContent {
  flex: 1;
  overflow-y: auto;
}

.cadastroContent {
  font-size: 18px;
  color: #333333;
}

/* Adicionando responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .mainContent {
    flex-direction: column;
    gap: 0; /* Remover espaçamento entre os painéis no mobile */
    padding: 0;
    margin-top: 15px;
  }

  .leftPanel {
    flex: none;
    height: 65vh; /* 50% da altura da tela */
    width: 100%;
    padding: 10px;
    overflow-y: hidden; /* Remover rolagem vertical */
  }

  .rightPanel {
    flex: none;
    height: 35vh; /* 50% da altura da tela */
    width: 100%;
    padding: 10px;
    overflow-y: auto;
  }

  .pagesContainer {
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pageWrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    left: 615px;
  }

  .pageContainer {
    transform: scale(0.5);
    transform-origin: top center;
  }

  .downloadButton {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    background-color: #45C907;
    color: #ffffff;
    border-radius: 0;
    z-index: 1000; /* Garantir que o botão fique acima de outros elementos */
    font-weight: bold;
    text-align: center;
  }

  .downloadButton:hover {
    background-color: #0a6e0f; /* Cor de fundo ao passar o mouse */
  }

  .categoryInfoBox {
    top: 65%;
    left: 20%;
  }
}



.documentSelector {
  display: flex;
  align-items: center;
  margin-top: 20px; /* Espaçamento acima do seletor */
}

.documentSelect {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  margin-right: 10px; /* Espaçamento entre o select e o botão */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cadastrarButton {
  padding: 8px 16px;
  cursor: pointer;
  border: 1px solid #28a745;
  border-radius: 4px;
  background-color: #28a745;
  color: #fff;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 16px;
}

.cadastrarButton:hover {
  background-color: #218838;
}

.cadastrarButton:active {
  transform: scale(0.95);
}