.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  height: 80px;
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000; /* Mantém o header sobre outros elementos */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Opcional: adiciona uma sombra para destaque */
}

  
  .left {
    display: flex;
    align-items: center;
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  
  .logo {
    min-width: 155px;
    height: 50px;
  }
  
  .licenca {
    font-size: 16px;
    margin-left: 20px;
    color: white;
    text-decoration: none;
  }
  
  .cartContainer {
    width: 48px;
    height: 48px;
    background-color: #4C4C4C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-right: 20px;
    z-index: 1;
  }
  
  .cartIcon {
    min-width: 20px;
    height: 20px;
  }

  .cartContainerCount {
    width: 48px;
    height: 48px;
    background-color: #303030;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -65px;
    padding: 16px 45px;
    margin-right: 30px;
  }
  
  .button {
    margin-left: 10px;
    padding: 16px 35px;
    background-color: #45C907;
    color: #000000;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }
  
  .buttonLogin {
    margin-left: 10px;
    padding: 16px 40px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border: #ffffff solid 1px;
  }
  
  .mobileButtons {
    display: none;
  }

  .searchContainer {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 30px;
    width: 100%;
  }

  .searchIcon {
    position: absolute;
    left: 190px;
    width: 20px;
    height: 20px;
  }
  
  .search {
    min-width: 500px;
    padding: 15px 18px 15px 65px;
    outline: none;
    background-color: #303030;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-left: -25px;
    flex-grow: 1;
  }
  
  .search::placeholder {
    color: #CFCFCF;
    font-weight: bold;
  }
    
  .searchMobileContainer {
    display: none;
  }
  
  .mobileSearchBar {
    padding: 11px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    position: relative;
    margin-top: 80px;
    margin-bottom: -60px;
  }
  
  .mobileSearchIcon {
    position: absolute;
    left: 15px;
    width: 20px;
    height: 20px;
  }
  
  .mobileSearchInput {
    width: 100%;
    padding: 12px 18px 12px 75px;
    outline: none;
    background-color: #303030;
    color: white;
    font-weight: bold;
    font-size: 14px;
    height: 48px;
    margin-left: -10%;
  }
  
  .searchButton {
    padding: 15px;
    margin-left: 10px;
    color: #ffffff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 50px 50px 0;
    font-size: 14px;
    background-color: #303030;
    margin-left: -17px;
  }
  
  .searchButton:hover {
    background-color: #3da506;
    border-radius: 50px ;
  }

  .userContainer {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .userName {
    font-size: 16px;
    margin-right: 10px;
    color: white;
    font-weight: 900;
  }
  
  .dropdownIcon {
    width: 20px;
    height: 20px;
  }
  
  .dropdownMenu {
    position: absolute;
    top: 110%;
    right: 0;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    margin-top: 10px;
  }
  
  .menuItem {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
  }
  
  .menuItem:hover {
    color: #45C907;
  }

  .menuItemLogout {
    color: rgb(0, 0, 0);
    background-color: #45C907;
    text-decoration: none;
    padding: 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    border-radius: 9px;
    margin-top: 5px;
  }
  
  .menuItemLogout:hover {
    color: #ffffff;
  }
  
  .mobileUserIcon {
    width: 48px;
    height: 48px;
    background-color: #4C4C4C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    margin-left: 10px;
  }
  
  .mobileUserIcon img {
    width: 24px;
    height: 24px;
  }
  

  .mobileUserIcon {
    display: none;
  }


  @media (min-width: 1257px) and (max-width: 1457px) {

    .search {
      min-width: 200px;
      padding: 16px 18px 16px 85px;
    }

    .searchButton {
      padding: 16px;
      margin-left: -17px;
    }
  }

  @media (min-width: 1024px) and (max-width: 1257px) {
    
    .cartContainer {
      margin-left: 0px;
    }

    .searchIcon {
      display: none;
    }
  
    .searchButton {
      padding: 16px;
      margin-left: -17px;
    }
  
    .searchContainer {
      display: none;
    }

    .searchMobileContainer {
      display: block;
      width: 48px;
      height: 48px;
      background-color: #4C4C4C;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      margin-left: 20px;
    }

    .cartContainerCount {
      margin-left: -45px;
      margin-right: 0;
    }

  }

 
  @media (min-width: 768px) and (max-width: 1024px) {
    .header {
      padding: 0 20px;
    }
  
    .searchContainer, .buttonLogin, .button {
      display: none;
    }

    .searchIcon {
      display: none;
    }
  
    .searchButton {
      padding: 16px;
      margin-left: -17px;
    }
    .cartContainer {
      margin-left: 0px;
      margin-right: 0px;
    }
  
    .searchMobileContainer {
      display: block;
      width: 48px;
      height: 48px;
      background-color: #4C4C4C;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      margin-left: 20px;
    }
  
    .mobileButtons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      gap: 10px;
      margin-top: 80px;
      margin-bottom: -60px;
    }
  
    .mobileButton {
      width: 100%;
      padding: 16px;
      background-color: #45C907;
      color: #000000;
      border-radius: 8px;
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
    }
  
    .mobileButtonLogin {
      padding: 16px 40px;
      background-color: transparent;
      color: #000000;
      border-radius: 8px;
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      border: #000000 solid 1px;
    }

    .userContainer {
      display: none;
    }
  
    .mobileUserIcon {
      display: flex;
    }

    .dropdownMenu {
      margin-top: 5px;
    }


    .cartContainerCount {
      margin-left: -45px;
      margin-right: 0;
    }
  }
  

  @media (max-width: 768px) {
    .header {
      padding: 0 20px;
    }
  
    .searchContainer, .licenca, .buttonLogin, .button {
      display: none;
    }

    .searchIcon {
        left: 145px;
      }
    
      .searchButton {
        padding: 16px;
        margin-left: -17px;
      }
  
    .cartContainer {
      margin-left: 0px;
      margin-right: 0px;
    }
  
    .searchMobileContainer {
      display: block;
      width: 48px;
      height: 48px;
      background-color: #4C4C4C;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }
  
    .mobileSearchInput {
      margin-left: 80px;
    }

    .mobileButtons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      gap: 10px;
      margin-top: 80px;
      margin-bottom: -60px;
    }
  
    .mobileButton {
      width: 100%;
      padding: 16px;
      background-color: #45C907;
      color: #000000;
      border-radius: 8px;
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
    }
  
    .mobileButtonLogin {
      padding: 16px 40px;
      background-color: transparent;
      color: #000000;
      border-radius: 8px;
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      border: #000000 solid 1px;
    }

      .userContainer {
    display: none;
  }

  .mobileUserIcon {
    display: flex;
  }

  .userContainer {
    display: none;
  }

  .mobileUserIcon {
    display: flex;
  }
  
  .dropdownMenu {
    margin-top: 5px;
  }


  .cartContainerCount {
    margin-left: -45px;
    margin-right: 0;
  }
  }
  