.container {
  display: flex;
  box-sizing: border-box;
}

.leftSection {
  min-width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.rightSection {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

.buttonContainer {
  display: flex;
  width: 100%;
}

.switchButton {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.switchButton:hover {
}

.switchButton.active {
  color: white;
}

.content {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
}

.content .text {
  font-size: 16px;
  color: #333;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .rightSection {
  }

  .content {
    padding: 10px;
  }
}
