/* src/app/admin/packages/packages.module.css */

.container {
    padding: 70px;
    margin-top: -40px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 110px;
  }
  
  .title {
    font-size: 22px;
  }
  
  .createButton {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .packageList {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 9px;
    overflow: hidden;
  }
  
  .packageHeader, .packageItem {
    display: flex;
    padding: 15px;
    font-weight: bold;
  }
  
  .packageHeader {
    background-color: #c0c0c0;
  }
  
  .packageItem {
    font-weight: normal;
  }
  
  .packageHeader span, .packageItem span {
    flex: 1;
    text-align: center;
  }
  
  .packageItem:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }
  
  .oddRow {
    background-color: #f9f9f9;
  }
  
  .evenRow {
    background-color: transparent;
  }
  
  .actionButton {
    padding: 5px 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s ease;
  }
  
  .actionButton:hover {
    background-color: #005bb5;
  }
  
  .deleteButton {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .deleteButton:hover {
    background-color: #da190b;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
  }
  
  .pagination button:hover:not(:disabled) {
    background-color: #005bb5;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  