/* purchase-success.module.css */

.successContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 20px;
    min-height: 100vh;
    background: linear-gradient(135deg, #000000 0%, #45C907 100%);
    overflow: hidden;
  }
  
  .content {
    background: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    animation: fadeIn 1s ease-in-out;
  }
  
  .title {
    color: #333;
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  
  .paragraph {
    color: #555;
    margin-bottom: 30px;
    font-size: 1.2rem;
  }
  
  .button {
    background-color: #45C907;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #45C907;
  }
  
  .footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Ajuste conforme necessário */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .content {
      padding: 30px 20px;
    }
  
    .title {
      font-size: 2rem;
    }
  
    .paragraph {
      font-size: 1rem;
    }
  
    .button {
      padding: 12px 25px;
      font-size: 0.9rem;
    }
  }
  